/* Brightness */
.appMount-3VJmYg {background:var(--brightness)}
#app-mount .layer-3QrUeG,.titleBar-AC4pGV::after {background: var(--bgLayer)}
.titleBar-AC4pGV::after {content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px} /* Titlebar layer */
.backdrop-1wrmKB {background:rgba(0, 0, 0, 0.1) !important}

/* Scrollbars */
#app-mount ::-webkit-scrollbar,#app-mount ::-webkit-scrollbar-track-piece {visibility:hidden;width:8px}
#app-mount ::-webkit-scrollbar-thumb {border:none!important; background: var(--sb)}

/* Fonts */
::-webkit-input-placeholder, body, button, input, select, textarea:not([class*="hljs"]):not(code){font-family: var(--font) !important}
#app-mount .markup-2BOw-j:not(code) {color:var(--textcolor);font-size: var(--fontsize) !important}
#app-mount ::-webkit-input-placeholder{color:rgba(255, 255, 255, 0.8)}

/* Main Trans */
#app-mount .layers-3iHuyZ, #app-mount .container-2lgZY8,#app-mount .typing-2GQL18,
#app-mount .standardSidebarView-3F1I7i,#app-mount .sidebarRegion-VFTUkN{
    background: transparent
}
#app-mount .channels-Ie2l6A, #app-mount .container-PNkimc, #app-mount .container-2Thooq {
    background: transparent
}
#app-mount .chat-3bRxxu, #app-mount .chat-3bRxxu form, #app-mount .content-yTz4x3,
#app-mount .title-3qD0b-,#app-mount .headerBar-UHpsPw,#app-mount .header-39GIC8,
#app-mount .messagesWrapper-3lZDfY, #app-mount #friends,#app-mount .applicationStore-1pNvnv,
#app-mount .gameLibrary-TTDw4Y,#app-mount .activityFeed-28jde9,#app-mount .markup-2BOw-j pre,
#app-mount .markup-2BOw-j code, #app-mount .markup-2BOw-j code.inline {
    background: transparent
}

/* Chat */
.theme-dark .topic-2QX7LI{color:#fff}
.newMessagesBar-mujexs,#app-mount .jumpToPresentBar-9P20AM {background:rgba(0, 0, 0, 0.7)}
.newMessagesBar-mujexs:hover,#app-mount .jumpToPresentBar-9P20AM:hover {background:rgba(24, 24, 24, 0.9)}

#app-mount .timestampCozy-2hLAPV,#app-mount .timestamp-1E3uAL {color:rgba(255, 255, 255, 0.8)}
#app-mount .channelTextArea-rNsIhG,#app-mount .dividerEnabled-2TTlcf {border: none}

#app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI,
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {color:var(--accent)}

#app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after,
#app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before,
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, 
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before {visibility:hidden}

#app-mount .hljs {color:rgba(255, 255, 255, 0.9)}
.reactionBtn-2na4rd,.button-3Jq0g9{opacity:1}
#app-mount .button-8BIq2d,#app-mount .emojiButtonNormal-TdumYh,.spriteNormal-1wvG5n {opacity:1}
/* Channels/Members */
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {background: none;padding: 20px 10px 10px}
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {background: none}
.channelNotices-41mJbj .channelNotice-1-XFjC {box-shadow: none;padding: 10px 10px 10px}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    background-color: transparent;
    border:none;box-shadow: 0 0 3px  var(--accent) inset;
    padding: 2px 0;border-radius:6px}
.iconDefault-3Gr8d2, .nameDefault-2DI02H {color:#fff}
.nameCollapsed-34uFWo, .nameDefault-2DI02H,.nameHovered-1gxhWH,.nameHoveredCollapsed-2orEWB {text-align:center}
#app-mount .membersGroup-v9BXpm {text-align: center}
#app-mount .members-1998pB {background: transparent}
#app-mount .membersGroup-v9BXpm,#app-mount .activity-1IYsbk {color: rgba(210, 210, 210, 0.8)}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,
.wrapperHoveredText-2geN_M, .wrapperHoveredVoice-3ItgyI {
    background-color: transparent;box-shadow:0 0 5px var(--accent); 
    border-radius: 4px;margin-right:1px
}
.wrapperHoveredText-2geN_M, .wrapperHoveredVoice-3ItgyI {margin-left:8px}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO {background:transparent}
.nameHoveredText-1uO31y{color:#fff}
.actionIcon-2Hi9ZG{opacity:1}
#app-mount .member-3W1lQa:hover .content-OzHfo4,#app-mount .member-3W1lQa.popout-open .content-OzHfo4 {
    background-color: transparent;box-shadow:0 0 5px var(--accent);
    padding: 2px;margin:0 4px 0 2px;border-radius:4px
}
#app-mount .member-3W1lQa.popout-open:hover .content-OzHfo4 {background: rgba(0, 0, 0, 0.3)}
#app-mount .selectorSelected-1_M1WV {background-color: transparent;box-shadow:0 0 5px var(--accent)}
#app-mount .autocomplete-1vrmpx {background-color: rgba(0, 0, 0, 0.9);box-shadow:0 0 5px var(--accent)}
#app-mount .inner-zqa7da {background-color: transparent;box-shadow:0 0 5px var(--accent)}
#app-mount .textArea-2Spzkt {color:#fff}
.nameDefault-2s3kbY {color:#fff}
.userHovered-2_fT4Z{background: var(--accent)}
.icon-3nr6O- {opacity:.6}
.userHovered-2_fT4Z .icon-3nr6O- {opacity:1}
.container-1UB9sr {background:transparent;border:none;padding:2px}
.contentConnectedVoice-qL-YrL:active,.contentHoveredVoice-3p_NEO:active,.contentSelectedVoice-1WDIBM:active {background:transparent}
.theme-dark .popoutTop-3uu9vG:before, .theme-dark .popoutTopLeft-b5Eb3O:before, .theme-dark .popoutTopRight-3BzFIE:before,
.theme-dark .popoutTop-3uu9vG:after, .theme-dark .popoutTopLeft-b5Eb3O:after, .theme-dark .popoutTopRight-3BzFIE:after{display:none}
.container-2x5lvQ{animation: slide-up  .3s cubic-bezier(0.4, 0, 1, 1);box-shadow:0 0 5px var(--accent);border-radius: 6px}
.theme-dark .container-2x5lvQ header,.theme-dark .container-2x5lvQ section {background:rgba(0, 0, 0, 0.8);border-radius:6px}
.theme-dark .container-2x5lvQ section p {color:#fff}
.theme-dark .container-2x5lvQ section strong{color:#fffc00}
/* VideoChat */
#app-mount .wrapper-29NfPK,.video-1FfuMD,.videoBackgroundWrapper-2dCt49,
#app-mount .video-1FfuMD.noChat-3nt48u .videoTop-eOkSPq, .wrapper-3eE7AX,
#app-mount .video-1FfuMD.normal-1jW0uq .videoTop-eOkSPq {background:transparent}
.backgroundBlur-dazcBE{background-image: none !important}
.backgroundBlurOverlay-1JS5RF{background:transparent}
/*Blocked Msgs*/
#app-mount .messageGroupBlocked-3wrQQX.revealed-1_RKsf,#app-mount .messageGroupBlocked-3wrQQX,
#app-mount .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {background: transparent}
#app-mount .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {background:rgba(0, 0, 0, 0.65)}
/* Emoji Stuff */
.bgModal,#app-mount #bda-qem,.emojiPicker-3m1S-j,
#bda-qem-twitch-container, #bda-qem-favourite-container {animation: sliding .5s}

.popout-3sVMXz {margin-top:-20px}
#app-mount #bda-qem button {color:#fff;border:none;box-shadow: none}
#app-mount #bda-qem button:hover,
#app-mount #bda-qem button.active {background-color: var(--accent);opacity:.9;border:none;color:#fff}

#app-mount .emojiPicker-3m1S-j,#app-mount #bda-qem-twitch-container, 
#app-mount #bda-qem-favourite-container,#app-mount #bda-qem {background-color: rgba(0, 0, 0, 0.2);box-shadow:0 0 5px var(--accent);border:none}
#bda-qem {background: transparent;height: 20px}

#app-mount .emojiPicker-3m1S-j .search-bar.search-bar-light {background-color:rgba(0, 0, 0, 0.0);border:none;box-shadow:none}
#app-mount .search-bar.search-bar-light .search-bar-inner {background-color: rgba(0, 0, 0, 0.0);border: none;border-radius: 20px!important }
.search-bar.search-bar-light input {color:#fff}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq {filter:invert(100%)}

#app-mount .emojiPicker-3m1S-j .stickyHeader-1SS0JU {background: rgba(40, 40, 40, 0.9)}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {background-color: var(--accent)}

#app-mount .reaction-1ELvT8 {background:transparent;box-shadow:0 0 5px var(--accent);border-radius:6px}
#app-mount .reactionCount-2ddRoS {color:#fff}
#app-mount .sidebar-1-SQro,
#app-mount .container-1If-HZ, 
#app-mount .reactors-Blmlhw {background: transparent}
/* Guilds*/
#app-mount .guildsWrapper-5TJh6A {background: transparent}
#app-mount .guild-1EfMGQ .guildInner-3DSoA4{background:rgba(0, 0, 0, 0.5) !important}
#app-mount .friendsOnline-_wi_fM,#app-mount .guild-1EfMGQ .guildInner-3DSoA4 a {color: var(--accent)}
#app-mount .guildSeparator-1X4GQ1:after {background:transparent}
.unreadBar-3YD_k9 {box-shadow: 0 0 1px var(--accent)}
.unread-1xRYoj,.unread-1xRYoj:hover {background-color: rgba(0, 0, 0, 0.9)}
.bar-30k2ka {font-size: 12px}
.wrapper-232cHJ {background-color: var(--unread);}
#app-mount .guild-1EfMGQ.audio-3vVhBi:after, #app-mount .guild-1EfMGQ.video-15yGu3:after {background-color:rgba(0, 0, 0, 0.5)}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: #ccc}

.wrapper-2NJDcI {background-color: rgba(0, 0, 0, 0.51);color: #fff}

#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {background: var(--unread);border-radius: 8px}

#app-mount .colorUnreadText-2t7XRb, #app-mount .colorUnreadVoice-137o4S {color: var(--unread);opacity:1}
#app-mount .nameUnreadText-DfkrI4, #app-mount .nameUnreadVoice-EVo-wI {color: var(--unread)}
#app-mount .unread-1Dp-OI {background-color: var(--unread) }
#app-mount .guildsAdd-21_IdK {
    background: rgba(0, 0, 0, 0);
    border-color: #fff;color: #fff;
}
#app-mount .wrapper-2ZbzR9{background:transparent;box-shadow:0 0 5px var(--accent)}
/* Friends section*/
#app-mount .search-bar {background: transparent;box-shadow: 0 0 3px var(--accent) }
#app-mount .search-bar .search-bar-inner {box-shadow: 0 0 3px var(--accent) }
.privateChannels-1nO12o header {color: #fff;text-align:center;font-size: 14px;margin-top: 2px;opacity: .8}
.privateChannels-1nO12o .name-2WpE7M {opacity: .9}
.privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a,
.privateChannels-1nO12o .channel-2QD9_O:hover a {background: rgba(0, 0, 0, 0.3); margin-right:1px;box-shadow: 0 0 5px var(--accent)}

#app-mount #friends .friends-table .friends-row .friends-column-name,
#app-mount #friends .friends-table .friends-row .friends-column-status,
#app-mount #friends .friends-table .friends-table-header .friends-column {color:#fff}
#app-mount #friends .friends-table .friends-row:hover {
    background: rgba(0, 0, 0, 0.3);border:none;border-radius: 6px;box-shadow: 0 0 5px var(--accent)}
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action {background-color:rgba(0, 0, 0, 0)}
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {background-color:var(--accent)}

#app-mount #friends .friends-table .friends-row+.friends-row {border:none}
/* Activity */
.article-3kb3qm {background: rgba(0, 0, 0, 0.5)}
.carousel-2WxMes {background:none}
#app-mount .splashArt-3I5Qmp {opacity:1;filter:none}
#app-mount .card-7JP0BX {background-color: rgba(0, 0, 0, 0.1);box-shadow:0 0 5px var(--accent);color: #fff}
#app-mount .body-SKIE6r,#app-mount .header-1RC2Wb {background-color: rgba(0, 0, 0, 0.3)}
#app-mount .splashArt-3yFzRe {width: 100%;filter: grayscale(0%);opacity: 1;-webkit-mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,.4) 100%)}
#app-mount .promotionBackground-2urB7- {filter: none;opacity: 1}

.paginationSubtitle-12e1s6, .paginationTitle-3U5ymz{text-shadow:1px 1px 5px #000,0 0 5px #000}
.paginationItem-2lUq0s:before {background: var(--accent)}
#app-mount .paginationItem-2lUq0s:after {background: linear-gradient(270deg,transparent 0,rgba(32, 34, 37, 0.55))}
.paginationSubtitle-12e1s6 {color: #fff;text-shadow:0 0 5px black}
#app-mount .dockItem-2kQDqg:hover {background-color: rgba(0, 0, 0, 0.4);border:1px solid var(--accent)}

/* Library */
#app-mount .gamePreview-9weYR2 {background: rgba(0, 0, 0, 0.3)}
#app-mount .body-1SVoBw {background:transparent}
#app-mount .gamePreview-9weYR2{border:1px solid var(--accent)}
#app-mount .rowBackground-3MeNoN {filter: grayscale(0%);mask: none;}
#app-mount .rowWrapperActive-2L7i9f{box-shadow: 0 0 5px var(--accent);background:transparent}
.info-P9dFwH {background:rgb(0, 0, 0)}

/* Store */
#app-mount .tagline-1VBVLz{color:#fff}
.distributionApplicationsSort-2_uq5y {opacity:.8}
.gameTitle-1GKhmx {text-align:center}
.scroller-2FKFPG::-webkit-scrollbar-track {display:none}
#app-mount .mediaFade-1SdEfL {background: linear-gradient(180deg,transparent 90%,rgba(0, 0, 0, 0.62));}
#app-mount .description-3rB3Rp{background:linear-gradient(180deg,transparent,rgba(32, 34, 37, 0.3) 45%,rgba(17, 18, 18, 0.69))}
#app-mount .premium-39U29H {background-image: linear-gradient(90deg,rgba(0, 0, 0, .6),rgba(179, 174, 255, .3))}
#app-mount .mediaFade-2DGFbT {background: linear-gradient(180deg,transparent 90%,rgba(0, 0, 0, 0.3))}
#app-mount .mediaDescription-3VIUb6 {background: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.5) 45%,rgba(0, 0, 0, 0.7))}
#app-mount .installSize-1eXbBX {background-color: rgb(31, 31, 31);color: #009aff}
.description-3z5Lb3 .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background-color: rgba(0, 0, 0, .5);color: #fff}
#app-mount .applicationStore-1pNvnv, #app-mount .itemBackground-1jfD8p  {background-color: transparent}
.applicationStore-1pNvnv .tile-2H4MQG {background-color: rgba(0, 0, 0, 0.2);box-shadow: 0 0 5px var(--accent);}
#app-mount .applicationTile-1Goy1W,#app-mount .tileMedia-1q3guD,#app-mount .tileMedia-24cT6_ {background:transparent}
#app-mount .applicationTile-1Goy1W:hover,#app-mount .tileMedia-1q3guD:hover {background:rgba(0, 0, 0, 0.2)}
#app-mount .tile-367QuY:hover {box-shadow: 0 0 8px var(--accent)}
#app-mount .purchaseUnit-3FZmmF {background-color: rgba(0, 0, 0, 0.7);box-shadow: 0 0 3px rgba(0, 102, 255, 0.9)}
#app-mount .itemBackground-1jfD8p:before {background: radial-gradient(ellipse at top,transparent,rgba(0, 0, 0, 0.6)),linear-gradient(90deg,rgba(0, 0, 0, 0.6) 0,transparent 40%,transparent 60%,rgba(0, 0, 0, 0.6)),linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0,transparent 25%)}
#app-mount .bubble-1gL_TN {background-color: rgba(0, 0, 0, 0.9);box-shadow:0 0 3px var(--accent)}
.root-1bFE0x.whyYouMightLikeIt-2zZIIj {background:transparent;box-shadow:0 0 5px var(--accent);border-radius:6px}
/* Popouts and others */
#app-mount .message-2qRu38 {background: rgba(0, 0, 0, 0.3);box-shadow:0 0 8px var(--accent);border-radius:6px}
/*Mentions*/
.messagesPopoutWrap-1MQ1bW {animation: toppopout .5s cubic-bezier(0.4, 0, 1, 1) }
#app-mount .header-ykumBX,#app-mount .messagesPopoutWrap-1MQ1bW {background: rgba(0, 0, 0, 0.7)}
#app-mount .messageGroupWrapper-o-Zw7G { background: rgba(0, 0, 0, 0.5);border:none;box-shadow:0 0 5px var(--accent)}
#app-mount .guildName-1Bc3Ta {color:#fff}
#app-mount .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: rgba(0, 0, 0, 0);box-shadow: none
}
/* Search */
#app-mount .container-3ayLPN {background: rgba(0, 0, 0, 0.7);box-shadow:0 0 5px var(--accent);animation: toppopout .5s cubic-bezier(0.4, 0, 1, 1)}
#app-mount .focused-2bY0OD {background:rgba(0, 0, 0, 0.2)}
#app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3,
#app-mount .search-results-wrap .search-header,#app-mount .search-results-wrap .search-result:before,
#app-mount .search-results-wrap .search-result:after,
#app-mount .search-results-wrap .channel-separator .channel-name {background:transparent}
#app-mount .option-96V44q:after {display:none}
#app-mount .option-96V44q.selected-rZcOL- {background:transparent;box-shadow:0 0 5px var(--accent);border-radius:6px}

#app-mount .search-results-wrap {background:transparent}
.search-results-wrap .search-header,
#app-mount .search-results-wrap .search-header .total-results{color:#fff;opacity:1}
.search-results-wrap .channel-separator {text-align:center;height:0}
#app-mount .search-results-wrap .channel-separator:before {border:none}
#app-mount .search-results-wrap .search-result .search-result-message.hit {
    background:rgba(0, 0, 0, 0.2);border: none; box-shadow: 0 0 5px var(--accent);margin:2px
}

/*Members small */
.userPopout-3XzG_A {animation: popout .3s cubic-bezier(0.4, 0, 1, 1);position:relative;left:-20px}
#app-mount .headerNormal-T_seeN,.headerPlaying-j0WQBV,.headerSpotify-zpWxgT,.headerStreaming-2FjmGz,
#app-mount .body-3iLsc4, #app-mount .footer-1fjuF6 {background: rgba(0, 0, 0, 0.8)}
#app-mount .quickMessage-1yeL4E {background-color: rgba(0, 0, 0, 0);border: none;box-shadow: 0 0 5px var(--accent)}
.theme-dark #autocomplete-popout .autocomplete-shadow {box-shadow: 0 0 5px var(--accent)}
.theme-dark #autocomplete-popout .autocomplete-arrow {display:none}
.theme-dark #autocomplete-popout .row.selected {background: var(--accent)}
/*large*/
.topSectionPlaying-1J5E4n,#app-mount .topSectionNormal-2-vo2m,
#app-mount .body-3ND3kc,.topSectionSpotify-1lI0-P,.topSectionStreaming-1Tpf5X {
    background: rgba(0, 0, 0, 0.7)
}
.root-SR8cQa {box-shadow: 0 0 5px var(--accent)}
#app-mount .connectedAccount-36nQx7 {border:none; box-shadow:0 0 5px var(--accent); border-radius: 6px }
#app-mount .listRow-hutiT_:hover {
    background: transparent;box-shadow: 0 0 5px var(--accent);color: #fff
}
.theme-dark #autocomplete-popout section {background:rgba(0, 0, 0, 0.8);color:#fff}
.theme-dark #autocomplete-popout .autocomplete-header-background{background:rgba(0, 0, 0, 0.9)}
/* Status and server settings */
.menu-Sp6bN1.alt-3btY0e,#app-mount .menu-Sp6bN1 {background:rgba(0, 0, 0, .9)}
#app-mount .menu-Sp6bN1 .item-1GzJrl:hover { background: rgba(0, 0, 0, 0.8)  }
.qs-tutorial.shown{display:none}
#app-mount .quickswitcher-3JagVE {animation: popout .3s cubic-bezier(0.4, 0, 1, 1);box-shadow:0 0 5px var(--accent);background:rgba(0, 0, 0, 0.9);color:#fff}
#app-mount .input-2VB9rf, #app-mount .input-2VB9rf:focus{background: transparent; box-shadow:0 0 5px var(--accent)}
.theme-dark .resultFocused-3aIoYe{background-color: transparent;box-shadow:0 0 5px var(--accent);border-radius:6px;margin-left:4px}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: transparent;border: none;
    box-shadow: inset 0 0 3px var(--accent);
}
#app-mount .keyboardShortcutsModal-3piNz7 {background: rgba(0, 0, 0, 0.8);box-shadow:0 0 5px var(--accent)}
#app-mount .modalSubtitle-1Pj5nv {border:none;box-shadow:0 1px 3px var(--accent)}

.theme-dark.contextMenu-HLZMGh {animation: context-menu .3s ease-out }
.theme-dark.contextMenu-HLZMGh,#app-mount .container-3cGP6G {background: rgba(0, 0, 0, 0.9);box-shadow: 0 0 5px var(--accent)}
#app-mount .itemSubMenu-1vN_Yn:hover,#app-mount .item-1Yvehc:hover {background:transparent; box-shadow: 0 0 5px var(--accent)}

#app-mount .modal-3HD5ck,#app-mount .tiles-2aXG_k {background-color: rgba(0, 0, 0, 0.7);box-shadow: 0 0 5px var(--accent);}
#app-mount .footer-2yfCgX {background-color: transparent;box-shadow: none}

/* Upload */ 
.uploadModal-2ifh8j,.uploadModal-2ifh8j .footer-3mqk7D {background:rgba(0, 0, 0, 0.5);box-shadow:0 0 5px var(--accent)}
.uploadModal-2ifh8j .inner-3nWsbo {border: none}
#app-mount .uploadModal-2ifh8j .footer-3mqk7D .button {background-color: transparent;color:var(--accent);height:38px;}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {opacity: 1;text-decoration: underline}
/* Need Help */
.need-help-modal.form.deprecated{box-shadow: 0 0 5px var(--accent);border-radius:6px}
.need-help-modal.form.deprecated .header {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100px;    padding: 0;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow:0 0 5px var(--accent);
    color: #fff;height: 20px;border:none
}
.form-deprecated .form-inner, .form.deprecated .form-inner,
.need-help-modal.form.deprecated .footer{background:rgba(0, 0, 0, 0.75);border:none}

/* Settings */
#app-mount #bd-settings-sidebar .ui-tab-bar-item,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .item-PXvHYJ {line-height:10px}
.standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {max-width: 100%;padding: 40px 30px 80px;}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e {padding: 25px 10px 10px 25px;width: 190px}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {flex: 0;width:190px}
#app-mount .standardSidebarView-3F1I7i,
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
#app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy {background: var(--settings);border-radius:6px}
#app-mount .standardSidebarView-3F1I7i {box-shadow: 0 0 5px var(--accent)}
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected,.side-8zPYf6 .itemSelected-1qLhcL {background: var(--accent)}
/* Settings - Original snippet from zere*/ 
:root {
--w2: 65% ;
--h2: 80% ;
}
.userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {transition: 0.2s ease-in;filter: blur(5px)}
.userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:hover {transition: 0.2s ease-out;filter: none}
.layers-3iHuyZ {align-items:center;justify-content:center}
.layers-3iHuyZ > .layer-3QrUeG:first-child {opacity: 1!important;transform: none!important}
.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {z-index: 1}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
    content: "";position: absolute;top: -100%; left: -100%;right:-100%;
    padding: 100%;background: transparent;z-index: 2;width: 100%;height: 100%}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
    width: var(--w2);height: var(--h2);top:unset;bottom:unset;right:unset;left:unset;
    display: block;overflow: visible;transform: translateZ(0);z-index: 3}
#bd-settingspane-container {width: var(--w2);display: block}
.toolsContainer-1edPuj {padding-top: 20px}
/**/
.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT,
 .userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 {padding: 20px}
#app-mount .cardPrimary-1Hv-to,#app-mount .cardPrimaryEditable-3KtE4g {
    background: transparent;border-color: var(--accent)
}
#app-mount #bd-settingspane-container .ui-switch-item .style-description,
#app-mount #bd-settingspane-container .ui-switch-item h3 {color:#fff}
/* Animations */
@keyframes sliding	{0%{transform:rotateY(-90deg);transform:rotateY(-90deg)}100%{transform:none}}
@keyframes toppopout	{from{transform:translate(0,-25px);opacity:0}}
@keyframes slide-down	{from{transform: translate(0, -100%)}}
@keyframes slide-up	{from{transform: translate(0, 100%)}}
@keyframes popout	{0% {transform: scale(0)}100% {transform: scale(1)}}
@keyframes context-menu	{from{opacity:0;transform:scale(0.3) translate3d(0,0,0)} to{opacity:1;transform:scale(1) translate3d(0,0,0)}}

/* Plugin Support */
.bgModal {box-shadow:0 0 5px var(--accent)}
.bgModal, .bgContent {background:rgba(0, 0, 0, 0.4);color:#fff}
.bgHead {border-bottom:1px solid var(--accent)}
.favBtn{background:transparent;color:#fff}
.imgUrl {color:#fff;background:transparent;box-shadow:0 0 5px var(--accent)}
#app-mount .imgUrl::-webkit-input-placeholder {color:#fff}
.bgContent .bgText {color:#fff}
.bgTabs {background:rgba(0, 0, 0, 0.2)}
.tabBtns {background:transparent}
.recTab, .favTab {color:#fff;background:rgba(0, 0, 0, 0);border:1px solid var(--accent) }
.recTab:hover, .favTab:hover {background:var(--accent)}
.recTab.active,.favTab.active {background: var(--accent)}
.rLinks, .fLinks {box-shadow:0 0 4px var(--accent)}

#dv-mount {background-color: transparent;height: 60px}
#dv-main .dv-date {opacity: 1}
.membersWrap-2h-GB4 .members-1998pB {height: calc(100% - 60px)}

#app-mount .dst-tooltip{background:rgba(0, 0, 0, 0.8) !important;box-shadow:0 0 5px var(--accent)}



